@charset "utf-8";



#table {
    width: 1500px;
    padding: 5px;
    float: left;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 30%;
  padding: 11px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  padding: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: Grey;
  color: white;
  font-size: 25px;
  border: black;
  border-left: 2px;
  border-right: 2px;
  border-radius: 10px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: gray;
  border: none;
  color: Ivory;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
 }